body {
    font-family: 'Montserrat', sans-serif;
}
#top {
    background: background: rgb(243,36,36);
    background: linear-gradient(90deg, rgba(115, 119, 123, 0.9) 43%, rgba(115, 119, 123, 0.9) 100%),
                url('/static/img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: #F2F2F2;
    position: relative;
}
#top .navbar {
    padding: 0 0 4.5rem;
}

#top .navbar-brand img {
   width: 5rem;
   height: 5rem;
   border-radius: 100%;
}
#top .nav-item {
    padding: 0 18px;
}
#top .nav-item .nav-link {
    font-size: 1.5rem;
    font-family: 'Montserrat-Light';
    color: #F2F2F2;
}
#top .describe {
    width: 100%;
    position: relative:
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#top .describe h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 700;
}
#top .btn {

}
#top  p {
    margin: 0 auto;
    font-size: 1.1rem;
}
#top .container-fluid {
    padding: 3% 15%  7%;
}

#top .describe .btn {
    background: #EC994B;
    border: none;
}

#me {
    padding:  4.5rem 0;
    position: relative;
    background-color: #F1EEE9;
}
#me .row {
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}
#me .row h3 {
    font-family: 'Montserrat-Bold';
    font-size: 1.5rem;
    font-weight: bold;
    color: #15133C;
}
#me .row p {
    font-family: 'Montserrat';
    color: #8f8f8f;
}
#me .row img {
    width: 3rem;
    height: 3rem;
    margin: 0 0 2rem;
}

#projects {
    padding:  4.5rem 0;
    position: relative;
    background-color: #73777B;
}
#projects .carousel-inner {
    width: 60%;
    color: #F1EEE9;
    text-align: center;
}
#projects .carousel-inner .btn {
    background: #EC994B;
    border: none;
}
#projects .carousel-inner h3 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Montserrat-Bold';
}
#projects .carousel-inner h6 {
    font-size: 1.3rem;
    padding: 0 0 1rem;
    font-weight: light;
    color: #D6D6D6;
}
#projects .carousel-inner p {
    padding: 0.5rem 0 1.5rem;
    font-size: 0.9rem;
    width: 60ch;
    margin: 0 auto;
    color: #D6D6D6;
}
#contact {
    padding:  4.5rem 0 0.5rem;
    position: relative;
    background-color: #F1EEE9;
}
#contact form .btn {
    background: #EC994B;
    border: none;
}
#contact form {
    width: 50%;
    padding: 1rem;
    margin: 0 auto;
}
#contact form .has-error input {
    border: 1px solid red;
}
#contact form .has-error textarea {
    border: 1px solid red;
}
#contact form .has-error label {
    color: red;
}
#contact form .help-block {
    font-size: 0.9rem;
    color: red;
}
#contact .socials {
    text-align: center;
    margin-top: 3rem;
    color: #787878;
}
#contact .socials .fa {
    padding: 0 0.3rem;
}
#contact .socials p {
    font-size: 0.8rem;
    padding: 0.2rem 0 0;
}